.down{
    height: 300px;
    width: 100%;
    margin-top: 10px;
    background:#2c7ad6;
    text-align: center;
}
.footer{
    height: 20px;
    width: 100%;
    background:black;
    color: white;
    text-align: center;
}